* {
  box-sizing: border-box;
}
 
body {
  font-family: "Merriweather", serif;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}


.google-sans-heading {
  font-family: "Google Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
.quicksand-text {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

header {
  border-bottom: 5px solid #aa6666;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  margin: 20px 0;

}


h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  margin-bottom: 0;
  letter-spacing: 1px;
}

footer {
  border-top: 5px solid #aa6666;

}

footer p {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}


section p:first-of-type {
  text-indent: 2rem;
}

p {
  margin: 1rem 0;
  letter-spacing: 0.3px;
}

a {
  color: #aa6666;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.25em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/external-link-52.png");
}

ul, ol {
  margin: 1rem 0;
  padding-left: 2rem;
  line-height: 1.6;
}



ol li {
  list-style-type: decimal;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  margin-bottom: 1rem;
}

nav a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  color: #aa6666;
  border: 2px solid #aa6666;
  padding: 0.8rem 0;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

@media screen and (max-width: 1024px) {
  main {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  nav a {
    font-size: 1rem;
    padding: 0.6rem 0;
  }
  nav a:hover {
  background-color: #aa6666;
  color: white;
  }
}